# Para usar em DEV criar arquivo igual a esse com SECRET-KEY=
# gerado pelo comando:
# python -c "import secrets, string; chars = string.ascii_letters + string.digits + '!@#$%^&*()_+-=[]{}|;:,.<>?'; print('django-insecure-' + ''.join(secrets.choice(chars) for _ in range(50)))"


SECRET_KEY="CHANGE-ME"

# 0 False (PRODUCTION), 1 True (DEV)
DEBUG=""1"

# Comma Separeted values
ALLOWED_HOSTS="127.0.0.1, localhost"